/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  background-color: #dfdfdf;
}
.starGrey {
  font-family: 'Permanent Marker', cursive;
  color: #67CEB2;
  font-size: 4vw;
}
@media screen and (max-width: 500px) {
  .noImage {
    display: none;
  }
}
.topNav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.topNav a {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
  text-decoration: none;
  color: #81898f;
  font-family: 'Comfortaa', cursive;
  font-size: 1.5rem;
}
.topNav a:hover {
  background: #67CEB2;
}
.backgroundHeader {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 4rem;
  margin-bottom: 3%;
  padding: 3%;
  background-color: #81898f;
  color: mediumaquamarine;
  font-family: 'Barriecito', cursive;
}
@media screen and (max-width: 500px) {
  .backgroundHeader {
    text-align: center;
    display: flex;
    flex-direction: column;
  }
}
.backgroundHeader .text {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.backgroundHeader h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3rem;
  color: #67CEB2;
  max-width: 100%;
  border-bottom: 2px dotted #67CEB2;
  line-height: 6rem;
}
.backgroundHeader img {
  max-width: 90%;
  border-radius: 5%;
}
@media screen and (max-width: 500px) {
  .backgroundHeader img {
    display: none;
  }
}
.backgroundHeader h3 {
  font-family: 'Amatic SC', cursive;
  font-size: 2rem;
  color: #dfdfdf;
  margin-top: 20px;
  line-height: 2rem;
}
.backgroundHeader .topButton {
  background: #dfdfdf;
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 10px;
  line-height: 1.5rem;
  border-radius: 10px;
  border: 1px solid black;
  margin: 20px 20px 0px 0px;
}
@media screen and (max-width: 500px) {
  .backgroundHeader .topButton .button {
    width: 100%;
  }
}
.backgroundHeader .topButton a {
  font-family: 'Amatic SC', cursive;
  text-decoration: none;
  font-size: 3vw;
  color: #81898f;
}
.mainPageContent {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.5vw;
}
@media screen and (max-width: 500px) {
  .mainPageContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
.mainPageContent .leftContainer {
  background-color: #67CEB2;
  box-shadow: 5px 10px 30px;
  color: black;
  font-family: 'Comfortaa', cursive;
  margin-right: 5px;
  padding: 20px;
  max-width: 52.63157895%;
}
@media screen and (max-width: 500px) {
  .mainPageContent .leftContainer {
    max-width: 100%;
  }
}
.mainPageContent .leftContainer p {
  margin: 5%;
  text-align: justify;
}
.mainPageContent .leftContainer h2 {
  margin-bottom: 2vw;
  font-size: 3vw;
  font-family: 'Amatic SC', cursive;
}
.mainPageContent .leftContainer h3 {
  text-decoration: underline;
  font-weight: bold;
}
.mainPageContent .leftContainer .leftParagraph {
  width: 100%;
  padding: 10px;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  border-right-style: dotted;
}
.mainPageContent .rightContainer {
  background-color: white;
  color: black;
  font-family: 'Comfortaa', cursive;
  max-width: 45%;
  padding: 20px;
  box-shadow: 5px 10px 30px;
}
@media screen and (max-width: 500px) {
  .mainPageContent .rightContainer {
    max-width: 100%;
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
  }
}
.mainPageContent .rightContainer h2 {
  font-family: 'Amatic SC', cursive;
  font-size: 3vw;
  margin-bottom: 3vw;
}
.mainPageContent .rightContainer p {
  margin: 5%;
  text-align: justify;
  font-weight: bold;
  max-width: 100%;
}
@media screen and (max-width: 500px) {
  .mainPageContent .rightContainer p {
    margin: 0%;
    text-align: center;
  }
}
.mainPageContent .rightContainer .rightParagraph {
  background: white;
  border-left: 2px solid black;
  border-bottom: 2px dotted black;
  width: 100%;
  padding: 0vw 0vw 2vw 2vw;
  margin-right: 0px;
}
.mainPageContent .rightContainer .rightParagraph .goodStar {
  font-family: 'Permanent Marker', cursive;
  color: #67CEB2;
  font-size: 4vw;
}
.downArrow {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  width: 8vw;
}
.bottomContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-family: 'Amatic SC', cursive;
  font-size: 1.5vw;
}
@media screen and (max-width: 500px) {
  .bottomContainer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.bottomContainer .contact {
  border-top: 2px solid black;
  border-right: 2px dotted black;
  margin: 2vw;
}
.bottomContainer .contact h2 {
  margin: 2vw 2vw 2vw 0vw;
  font-size: 4vw;
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-weight: bolder;
}
.bottomContainer .contact .info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2vw;
  padding: 2vw;
  line-height: 0.75vw;
  font-family: 'Comfortaa', cursive;
}
.bottomContainer .contact .info p {
  padding: 1vw;
}
.bottomContainer img {
  padding: 2vw;
  background-color: #67CEB2;
  border-left: 2px solid black;
  border-top: 2px dotted black;
  margin: 2vw 0vw 0vw 2vw;
  width: 60%;
  height: 100%;
  box-shadow: -5px -5px 30px;
}
@media screen and (max-width: 500px) {
  .bottomContainer img {
    display: none;
  }
}
